[connectivity]
nk=gemm:1:gemm_1
sp=gemm_1.inA:DDR
sp=gemm_1.inB:DDR
sp=gemm_1.inC:DDR
sp=gemm_1.inD:DDR
sp=gemm_1.outE:DDR
[clock]
freqHz=250000000:gemm_1.ap_clk
[vivado]
impl.jobs=4
synth.jobs=4
prop=run.impl_1.STEPS.OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.OPT_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=EarlyBlockPlacement
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
prop=run.impl_1.STEPS.ROUTE_DESIGN.ARGS.DIRECTIVE=Explore
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.IS_ENABLED=true
prop=run.impl_1.STEPS.POST_ROUTE_PHYS_OPT_DESIGN.ARGS.DIRECTIVE=AggressiveExplore
[profile]
data=all:all:all           # Monitor data on all kernels and CUs
# stall=all:all:all          # Monitor stalls for all CUs of all kernels
# exec=all:all:all           # Monitor execution times for all CUs
